<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Weather searching!</h1>
    <p class="lead">Type location (eg: Los Angeles)</p>
    <form method="post" ng-submit="search()">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" ng-model="location" ng-required="true">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>
        </div>
        <div class="col-sm-3"></div>
      </div>
    </form>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Request result</h1>
      <div class="row">
        <ul>
          <li>
            <strong>Location</strong> {{recentHit.location}}
          </li>
          <li>
            <strong>Day of Week</strong> {{recentHit.day_of_week}}
          </li>
          <li>
            <strong>high</strong> {{recentHit.high}}
          </li>
          <li>
            <strong>low</strong> {{recentHit.low}}
          </li>
          <li>
            <strong>high celsius</strong> {{recentHit.high_celsius}}
          </li>
          <li>
            <strong>low celsius</strong> {{recentHit.low_celsius}}
          </li>
          <li>
            <strong>condition</strong> {{recentHit.condition}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Request today</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="hit in hits">
        <li><a ui-sref="view({id: hit._id})" tooltip="{{thing.info}}">{{hit.location}} - {{hit.hit}} hit(s)</a></li>
      </ul>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>MEAN testing</p>
  </div>
</footer>
