<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">View hit</h1>
      <div class="row">
        <ul>
          <li>
            <strong>Location</strong> {{hit.location}}
          </li>
          <li>
            <strong>Day of Week</strong> {{hit.day_of_week}}
          </li>
          <li>
            <strong>high</strong> {{hit.high}}
          </li>
          <li>
            <strong>low</strong> {{hit.low}}
          </li>
          <li>
            <strong>high celsius</strong> {{hit.high_celsius}}
          </li>
          <li>
            <strong>low celsius</strong> {{hit.low_celsius}}
          </li>
          <li>
            <strong>condition</strong> {{hit.condition}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
      <p>MEAN testing</p>
  </div>
</footer>
